<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"honamas/hero"} /-->
	<!-- wp:pattern {"slug":"honamas/story-chapter"} /-->
	<!-- wp:pattern {"slug":"honamas/timeline-section"} /-->
	<!-- wp:pattern {"slug":"honamas/quote"} /-->
	<!-- wp:pattern {"slug":"honamas/film-section"} /-->
	<!-- wp:pattern {"slug":"honamas/team-grid"} /-->
	<!-- wp:pattern {"slug":"honamas/achievement-list"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
